/* Body */

body{
    background-color: var(--zen-body-bg-color) !important;
    background-image: var(--zen-body-bg-img) !important;
    background-attachment: var(--zen-body-bg-attachment) !important;
    background-blend-mode: var(--zen-body-bg-blend) !important;
    background-clip: var(--zen-body-bg-clip) !important;
    background-origin: var(--zen-body-bg-origin) !important;
    background-position: var(--zen-body-bg-position) !important;
    background-repeat: var(--zen-body-bg-repeat) !important;
    background-size: var(--zen-body-bg-size) !important;
}

/* Body - End */

/* Header */

.header {
    background-color: var(--zen-pri-color);
    color: var(--zen-bg-contrast1-color);
}

/* Header - End */

/* Control Container */

.um-control {
    background-color: var(--zen-control-bg-color);
}

.um-control.border{
    border-color: var(--zen-control-border-color);
}

.um-control.nobg{
    background-color: transparent;
}

/* Control Container - End */

/* Canvas */

.um-canvas-container {
}

canvas.um-canvas {
}

/* Camvase - End */


/* Button */

.um-control .mat-button, .um-control .mat-flat-button, .um-control .mat-icon-button, .um-control .mat-stroked-button, .um-control .mat-raised-button {
    color: var(--zen-bg-contrast1-color);
}

.mat-stroked-button:not([class*=mat-elevation-z]), .mat-flat-button:not([class*=mat-elevation-z]) {
    box-shadow: var(--zen-box-shadow);
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: var(--zen-pri-color);
}

.mat-flat-button.mat-primary:hover, .mat-raised-button.mat-primary:hover, .mat-fab.mat-primary:hover, .mat-mini-fab.mat-primary:hover{
    background-color: var(--zen-pri-lighten-color);
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    color: var(--zen-bg-contrast1-color);
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background-color: var(--zen-pri-color);
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    color: var(--zen-bg-contrast1-color);
}

.mat-flat-button:not([class*=mat-elevation-z]) {
    box-shadow: var(--zen-box-shadow);
}

.um-mat-button {
}

.mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab {
    color: var(--zen-bg-contrast1-color);
    background-color: var(--zen-pri-color);
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
}

.mat-fab, .mat-flat-button, .mat-mini-fab, .mat-raised-button {
    color: var(--zen-bg-contrast1-color);
    background-color: var(--zen-pri-color);
}

.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
}

.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
}

/* Button - End */

/* Icon */

.mat-icon.mat-primary{
    color: var(--zen-pri-color);
}

/* Icon - End */

/* Label */

.um-mat-label {
    color: var(--zen-bg-contrast2-color);
}

/* Label */

/* Text Input */

.mat-form-field{
    color: var(--zen-bg-contrast2-color);
    border-color: var(--zen-pri-color);
}

.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
    color: transparent;
}


.mat-form-field-label-wrapper{
}

.mat-form-field .mat-form-field-label {
}

.mat-form-field-appearance-legacy .mat-form-field-label {
}

.mat-form-field-appearance-legacy .mat-form-field-label {
}

/* Text Input - End */

/* Datepicker */

.mat-datepicker-toggle-default-icon{
    fill: var(--zen-pri-color);
}

.mat-datepicker-content, 
.mat-datepicker-toggle, 
.mat-datepicker-content .mat-calendar-next-button, 
.mat-datepicker-content .mat-calendar-previous-button,
.mat-calendar-table-header,
.mat-calendar-body-label,
.mat-calendar-body-cell-content
{
    color: var(--zen-bg-contrast1-color);
}

.mat-datepicker-content .mat-calendar{
    background-color: var(--zen-pri-color);
}

.mat-calendar-cell-semi-selected{
    background-color: var(--zen-bg-contrast1-color);
    color: var(--zen-bg-contrast2-color);
}

.mat-calendar-body-selected{
    background-color: var(--zen-bg-contrast2-color);
    color: var(--zen-bg-contrast1-color);
}

.mat-calendar-cell-semi-selected .mat-calendar-body-cell-content{
    color: var(--zen-bg-contrast2-color);
}

.mat-calendar-body-cell-content.mat-calendar-body-semi-selected{
    color: var(--zen-bg-contrast2-color);
}

.mat-calendar-body-begin-range:not(.mat-calendar-body-end-range),
.mat-calendar-body-end-range:not(.mat-calendar-body-begin-range)
{
    background-color: var(--zen-bg-contrast1-color);
}

.mat-calendar-cell-over>.mat-calendar-body-cell-content{
    background-color: var(--zen-bg-contrast2-color);
    color: var(--zen-bg-contrast1-color);
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected), 
.cdk-keyboard-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected), 
.cdk-program-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected){
    background-color: var(--zen-bg-contrast2-color);
    color: var(--zen-bg-contrast1-color);
}

.mat-calendar-arrow {
    border-top-color: var(--zen-bg-contrast1-color);
}

/* Datepicker - End */

/* Timepicker */

.ngb-tp-chevron, .ngb-tp-spacer {
    color: var(--zen-pri-color);
}

.ngb-tp-input {
    border-color: var(--zen-pri-color);
}

.ngb-tp-meridian .btn-outline-primary {
    background-color: var(--zen-pri-color);
    color: var(--zen-bg-contrast1-color) !important;
}

ngb-timepicker .btn-outline-primary {
    border-color: var(--zen-pri-color) !important;
}

/* Timepicker - End */


/* Checkbox - Checkbox Group */

.mat-checkbox-frame {
    border-color: var(--zen-pri-color);
}

.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background, .mat-checkbox-checked.mat-primary .mat-checkbox-background {
    background-color: var(--zen-pri-color);
}

/* Checkbox - Checkbox Group - End */

/* Radio Group */

.mat-radio-outer-circle {
    border-color: var(--zen-pri-color);
}

.mat-radio-button.mat-primary .mat-radio-inner-circle, 
.mat-radio-button.mat-primary .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), 
.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-persistent-ripple, 
.mat-radio-button.mat-primary:active .mat-radio-persistent-ripple {
    background-color: var(--zen-pri-color);
}

/* Radio Group - End */

/* Selectbox */

.mat-select-arrow {
    color: var(--zen-pri-color);
}

.mat-option:hover:not(.mat-option-disabled), 
.mat-option:focus:not(.mat-option-disabled) {
    background-color: var(--zen-pri-lighten-color);
    color: var(--zen-bg-contrast1-color);
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background-color: var(--zen-pri-color);
    color: var(--zen-bg-contrast1-color);
}

/* Selectbox End */


/* Slide Toggle */

.mat-slide-toggle-thumb {
    background-color: var(--zen-pri-color);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* Slide Toggle - End */

/* Slider */

.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb, .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label {
    background-color: var(--zen-pri-color) !important;
}

.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
    background-color: var(--zen-pri-color);
}

.mat-primary .mat-slider-track-fill, .mat-primary .mat-slider-thumb, .mat-primary .mat-slider-thumb-label {
    background-color: var(--zen-pri-color);
}

.mat-primary .mat-slider-track-fill, .mat-primary .mat-slider-thumb, .mat-primary .mat-slider-thumb-label {
    background-color: var(--zen-pri-color);
}

/* Slider = End */



/* Multi Select */

.mat-pseudo-checkbox {
    color: var(--zen-pri-color);
}

.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
    background: var(--zen-bg-contrast1-color);
    border-color: var(--zen-pri-color);
}

.mat-pseudo-checkbox.mat-pseudo-checkbox-checked, .mat-pseudo-checkbox.mat-pseudo-checkbox-indeterminate {
    border-color: var(--zen-pri-color);
}

.mat-pseudo-checkbox::after {
    color: var(--zen-pri-color);
}

.mat-option-text:hover {
    color: var(--zen-bg-contrast1-color);
}

/* Multi Select - End */

/* Rating */

ngb-rating span {
    color: var(--zen-pri-color) !important;
}

/* Rating - End */

/* Attachment */

.um-choose-file {
	background-color: var(--zen-pri-color);
	color: var(--zen-bg-contrast1-color);
}


.attachment {
    border-bottom-color: var(--zen-pri-color);
}

/* Attachment - End */

/* Attachment List */

.um-attachment-list .mat-list {
    border-bottom-color: var(--zen-pri-color);
}

/* Attachment List - End */

/* Signature Pad */

.signature-pad {
    border-bottom-color: var(--zen-pri-color);
}

/* Signature Pad - End */

/* Tabs */

.mat-tab-header {
    border-bottom-color: var(--zen-pri-color);
}

.mat-tab-label-content .um-mat-label {
    color: var(--zen-bg-contrast2-color);
}

.mat-tab-label {
    border-color: var(--zen-bg-contrast3-color);
    border-left-color: var(--zen-pri-color);
}

.mat-tab-label-active .um-mat-label {
    border-bottom-color: var(--zen-pri-color);
}

.mat-tab-body-wrapper {
    
}

/* Tabs - End */

/* Accordion */

.mat-expansion-panel-header{
     border-bottom-color: var(--zen-bg-contrast3-color);
}

.mat-expansion-indicator::after {
    color: var(--zen-pri-color);
}

.mat-expansion-panel-header-title {
    color: var(--zen-pri-color);
}

/* Accordion - End */

/* Data Grid */

.jexcel_pagination_dropdown {
    border-bottom-color: var(--zen-pri-color);
}

.jexcel_search {
    border-bottom-color: var(--zen-pri-color);
}

.jexcel thead {
    background-color: var(--zen-pri-lighten-color);
}

.jexcel {
    background-color: var(--zen-bg-contrast1-color);
}

.jexcel>thead>tr>td {
    background-color: var(--zen-pri-color);
    color: var(--zen-bg-contrast1-color) !important;
}

.jexcel>tbody>tr>td {
    border-bottom-color: var(--zen-pri-color);
}

.jexcel_page.jexcel_page_selected {
    background-color: var(--zen-pri-color);
    color: var(--zen-bg-contrast1-color);
}


/* Data Grid - End */

/* List */

.mat-list-item {
    border-color: var(--zen-pri-color) !important;
}

.mat-list-item:hover {
    background: var(--zen-pri-color);
    color: var(--zen-bg-contrast1-color);
}

.mat-list-item:hover .um-subtitle, .mat-list-item:hover .um-subtittle {
    color: var(--zen-bg-contrast1-color);
}

.mat-list-item .um-subtitle, .mat-list-item .um-subtittle {
    color: var(--zen-bg-contrast2-color);
}

.mat-list-item .um-tittle {
    color: var(--zen-bg-contrast2-color);
}

.mat-list-item:hover .um-tittle {
    color: var(--zen-bg-contrast1-color);
}

/* List - End */


/* Breadcrumb */

.breadcrumb {
    background-color: var(--zen-bg-contrast3-color);
}

.breadcrumb-item {
    color: var(--zen-pri-color);
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--zen-pri-color);
}

a.breadcrumb-item:hover,a.breadcrumb-item:visited {
    color: var(--zen-pri-color);
}

/* Breadcrumb - End */


/* Progress Bar */

.mat-progress-bar-fill::after {
    background-color: var(--zen-pri-color);
}

.mat-progress-bar-buffer {
    background-color: var(--zen-bg-contrast3-color);
}

/* Progress Bar - End */

/* Hyper Link */

a:link, a:visited, a:hover, a:active {
    color: var(--zen-pri-color);
}

/* Hyper Link - End */


/* Ticker */

.ticker-container {
    background-color: var(--zen-bg-contrast3-color);
}

.ticker-item {
    color: var(--zen-pri-color);
}

/* Ticker - End */